#home_page {background-color: rgb(19, 33, 22);}
#portfolio_page {background-color: #B2C5C6;}
#about_page {background-color: #020200;}

body{
        margin: 0;
        padding: 0;
    }


nav {
    width: 31rem;
    display: flex;
    align-items: center;
    gap: 2.8125rem;

    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Red Hat Mono';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header {
    display: flex;
    margin: 1.5rem 2rem;
    align-items: center;
    justify-content: space-between;
    /* gap: 60%; */
}

/* @media (max-width: 40em){
    header {
        display: flex;
        margin: 1.5rem 2rem;
        align-items: center;
        justify-content: space-between;
        gap: 0.2rem;
    }
    nav {
        width: 31rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        color: #FFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Red Hat Mono';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

} */


footer {
    position: relative;
    height: 36.875rem;
    width: 100%;
    border-top: 3px solid #FFF;
}

#portfolio_page footer{
    z-index: -2;
    /* top: 200; */
}

.logo{
    height: 5.5rem;
    width: 5.5rem;
}

footer .logo {
    position: absolute;
    top: 2.625rem; left: 4.375rem;
}

.ftContent {
    position: absolute;
    top: 2.625rem;
    left: 14.6875rem;

    display: flex;
    width: 70.875rem;
    height: 32rem;
    align-items: flex-start;
    /* justify-content: space-between; */
    /* gap: 0.25%; */
    flex-shrink: 0;
}

@media (max-width: 1024px){
    .ftNavMapContainer{
        /* margin-left: -100rem; */
        padding-right: 30%;
        justify-content: flex-start;
    }
    .ftNav{max-width: 10%;}
    .mapContainer{
        height: 160px;
        width: 160px;
    }
}

.ftLinkContainer {
    display: flex;
    height: 15.8125rem;
    padding-right: 0.1875rem;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3.6875rem;
}

.ftLink {
    display: flex;
    width: 13.1875rem;
    height: 1.5rem;
    align-items: flex-start;
    gap: 2.0625rem;

    color: #FFF;
    font-family: Red Hat Mono;
    font-size: 1.5rem;
    font-weight: 500;
}

.footerIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.ftContact {
    display: flex;
    width: 13.1875rem;
    height: 1.5rem;
    align-items: flex-start;
    gap: 2.0625rem;

    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
}

.ftContactContainer {
    display: flex;
    height: 3.48438rem;
    flex-direction: column;
    gap: 0.75rem;
}

.socialsContainer {
    display: flex;
    width: 14rem;
    height: 21.54688rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
}

.ftNavMapContainer {
    width: 55%;
    position: absolute;
    top: 2.625rem;
    /* left: 43rem; */
    right: 0.25rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: -3.0625rem; */
}

.ftNavContainer {
    display: flex;
    width: 27%;
    padding-right: 0.0625rem;
    flex-direction: column;
    justify-content: flex-end;
}

.ftNav {
    display: flex;
    max-width: 27%;
    height: 5.125rem;
    flex-direction: column;
    justify-content: center;

    color: #FFF;
    font-family: Roboto Slab;
    font-size: 2rem;
    font-weight: 400;
    text-decoration-line: underline;
}

.mapContainer {
    display: flex;
    width: 423px;
    height: 512px
    ;
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
}

.ftLink .location {
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
}

#copyright_txt {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 0px;
    transform: translate(-60%,0);
    font-size: 0.9375;
    color: #FFF;
}

#pageName {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: #ffffff;
    margin-top: -2rem;
}

/* ----------------------------------------------------- */

.greenPhotos {
    z-index: 1;
    background-color: #B2C5C6;
    height: 70rem;
}

.whitePhotos {
    position: relative;
    --parallax-speed:5;
    z-index: 2;
    top: 80rem;
    /* background-color: #E8E8E8; */
    /* height: 70rem; */
    /* box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.25); */
}

.whitePhotos::before{
    position: absolute;
    content: '';
    --parallax-speed: 5;
    z-index: -1;
    inset: 0;
    background-color: #E8E8E8;
    height: 70rem;
    box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.25);
    transform: skewY(-3deg);
}


.blackPhotos {
    --parallax-speed:8;
    z-index: 3;
    top: 172rem;
    background-color: #171717;
    height: 70rem;
    box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.photosWrapper {
    display: flex;
    margin: 6% 10%;
    flex-wrap: wrap;
    height: 30.75; width: 80%;
    gap: 5rem;
    justify-content: space-evenly;
}

.photosWrapper img {   
    border: 0.5rem solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.portfolio_thumbnails {
    width: 12.25rem;
    height: 9.75em;
}

.portfolioDoublet_thumbnails {
    width: 18.75rem;
    height: 25em;
}


.portfolio_thumbnails:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.8125rem solid #ffffff;
}


.pf_parallax {
    position: relative;
    z-index: 0;
}

.pf_parallax > *{
    position: absolute;
    animation: portfolio_parallax;
    animation-timeline: scroll();
}

@keyframes portfolio_parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * -200px));
    }
}


#fullPhoto_overlay {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #1c1c1cab;
    display: none;
}


#fullPhoto{
    /* object-fit: contain; */
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    border: 0.3rem solid #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#crossButton{
    position: absolute;
    top: 3rem;
    right: 12rem;
    height: 4rem; width: 4rem;
    cursor: pointer;
}


#portfolio_page main {
    padding-bottom: 40rem;
    height: 105rem;
}


/* ---------------------------------------------------------- */

.aboutContainer {
    /* position: absolute; */
    /* z-index: -3; */
    /* top: 6rem; */
    display: flex;
    margin: 0rem 2.4375rem;
    justify-content: space-between;
    
}

.fireworks{
    z-index: -3;
    max-width: 60vw;
    max-height: 100vh;
    margin-top: -8rem;
    width: auto;
    height: auto;
}

.aboutText {
    width: 33.1875rem;
    color: #FFF;
    font-weight: 400;
    margin-top: 2.5rem;
}

.aboutText h1{
    font-family: Russo One;
    font-size: 2.5rem;
}
.aboutText p {
    font-family: Rosario;
    font-size: 1.5rem;
}

/* --------------------------------------------------------------------------------------------------- */

#home_page {
    z-index: 0;
}

#home_page header{
    position: relative;
    z-index: 4;
}

.home_parallax {
    position: relative;
    z-index: 0;
}

.home_parallax>* {
    position: absolute;
    animation: portfolio_parallax;
    animation-timeline: scroll();
}


#home_page footer{
    position: relative;
    top: 215rem;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 225vh;
    margin-bottom: 35rem;
}
.thunder {
    /* position: absolute; */
    width: 100%;
    margin-top: -12rem;
    /* z-index: -1; */
}

#openlens_sign {
    padding: 0 5%;
    margin-top: -12rem;
}

.umbrella{
    position: absolute;
    min-height: 210rem;
    margin-top: -12rem;
}

.umbrella img {
    top: 0;
    position: sticky;
    width: 100%;
}

.flowers {
    position: relative;
    width: 100%;
    height: 80rem;
    object-fit: cover;
    object-position: 0rem -35rem;
}

.dice {
    position: absolute;
    top: 100rem;
    min-height: 250rem;
    z-index: -1;
}

.dice img {
    top: 0;
    position: sticky;
    width: 100%;
    object-position: 0 -8rem;
}

@media (min-height: 900px) {
    .dice img{object-position: 0 0;}
    /* footer{
        height: 80%;
    } */
}
@media (max-width: 1024px){
    
}

.car {
    position: absolute;
    top: 300rem;
    min-height: 150rem;
    z-index: -2;
}

.car img {
    top: 0;
    position: sticky;
    width: 100%;
    object-position: 0 -8rem;
}

header div:hover {
    cursor: pointer;
}

footer :is(.logo, .ftLink, .ftContact, .ftNav, .mapContainer){
    cursor: pointer;
}

.photosWrapper img{
    cursor: pointer;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}